<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ChartBinding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ChartBinding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <userSettings>
    <ChartBinding.Properties.Settings>
      <setting name="tracePalette" serializeAs="String">
        <value>"Pastel"</value>
      </setting>
      <setting name="chartColor" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="traceWidth" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="meterNumber" serializeAs="String">
        <value>D01</value>
      </setting>
      <setting name="fileFormat" serializeAs="String">
        <value>csv</value>
      </setting>
      <setting name="customerPassword" serializeAs="String">
        <value>zls</value>
      </setting>
      <setting name="engineerPassword" serializeAs="String">
        <value>zlsEngineer</value>
      </setting>
      <setting name="fileDateFormat" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="traceMarkers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="beamScale" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="numAuxChan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="linePrinterSwitch" serializeAs="String">
        <value />
      </setting>
      <setting name="fileNameSwitch" serializeAs="String">
        <value />
      </setting>
      <setting name="configFilePath" serializeAs="String">
        <value>C:\ZLS\</value>
      </setting>
      <setting name="calFilePath" serializeAs="String">
        <value>C:\ZLS\</value>
      </setting>
      <setting name="configFileName" serializeAs="String">
        <value>Config.30</value>
      </setting>
      <setting name="calFileName" serializeAs="String">
        <value>S91.TAB</value>
      </setting>
      <setting name="mode" serializeAs="String">
        <value>Marine</value>
      </setting>
      <setting name="chartType" serializeAs="String">
        <value>FastLine</value>
      </setting>
      <setting name="chartLegendLocation" serializeAs="String">
        <value>Bottom</value>
      </setting>
      <setting name="PortName" serializeAs="String">
        <value>COM3</value>
      </setting>
    </ChartBinding.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="ChartBinding.Properties.Settings.DynamicDataConnectionString"
      connectionString="Data Source=LAPTOPSERVER;Initial Catalog=DynamicData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <ChartBinding.Properties.Settings>
      <setting name="DataMode" serializeAs="String">
        <value>0</value>
      </setting>
    </ChartBinding.Properties.Settings>
  </applicationSettings>
</configuration>
